.container {
  padding: 0;
  margin: 0;

}
.scene{
  width:100vw;
  height:100vh;
  padding: 0;
  margin:0 auto;
  background-color:  #73e2fb;
  position: absolute;
}
@media (max-width < 600) {
  .scene{
    width:100vw;
    height:100vh;
    padding: 0;
    margin:0 auto;
    top: 7%;
    position: absolute;
  }
}


.canvas{
 z-index: 6;
}