.container {
  padding: 0;
  margin: 0;

}

.scene{
  width:100vw;
  height:100vh;
  padding: 0;
  margin:0;
  background-image: url('../styles/Assets/3.jpg');
  
}

.canvas{
 /* background: rgba(13, 27, 15, 0.285); */
/* background: radial-gradient(circle, rgba(13,27,15,1) 0%, rgba(0,0,0,1) 70%); */ 
}